a {
  color:black;
  text-decoration : none;
}
h1 {
  font-size : 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 16px;
}
#grid ol{
  width: 100px;
  border-right: 1px solid gray;
  margin: 0;
  padding: 20px;
  padding-left: 33px;
}
body{
  margin: 0;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#article{
  padding-left:25px;
}
#home{
  padding: 5px;
}
@media(max-width:600px){
  #grid{
    display: block;
  }
  #grid ol{
    width: 100px;
    border-right:none;
    margin: 0;
    padding: 20px;
    padding-left: 33px;
  }
}
